.container {
  margin: 20px;
  padding: 20px;
}

.recording-container {
  text-align: center;
  margin-top: 80px
}

.mat-stepper-horizontal {
  margin-top: 8px;
  padding-left: 20px;
  padding-right: 20px;
}

.mat-form-field {
  margin-top: 16px;
}

.header-spacer {
  flex: 1 1 auto;
}

.mat-divider {
  margin: 20px;
}

.btn-div {
  width: 100%;
  text-align: center;
  margin-top: 60px;

  button {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    outline: none;
    border: none;
    cursor: pointer;
  }
}

audio {
  outline: none;
}

svg:hover {
  fill: red;
}

.recording-timer {
  font-family: monospace
}

.btn-clicked {
  background-color: #7FFFD4;
}

.btn-initial-state {
  background-color: #ff7267;
}

.audio-description {
  text-align: center;
  margin-top: 20px;
}
