<div class="container">
  <mat-toolbar>
    <button
      mat-icon-button
      class="title-icon"
      attr.aria-label="{{ 'Toolbar.Title' | translate }}"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <span translate>Toolbar.Title</span>
    <span class="header-spacer"></span>
  </mat-toolbar>
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup" [editable]="editable">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>
          {{ "Record.Provide.ID.Header" | translate }}
        </ng-template>
        <mat-form-field appearance="outline">
          <mat-label translate>Record.Provide.ID.Label</mat-label>
          <input
            matInput
            formControlName="firstCtrl"
            placeholder="{{ 'Record.Provide.ID.Placeholder' | translate }}"
            required
          />
        </mat-form-field>
        <div>
          <button
            mat-raised-button
            matStepperNext
            color="primary"
            (click)="editable = !editable"
          >
            {{ "Record.NextStep" | translate }}
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>
        {{ "Record.Provide.Audio.Header" | translate }}
      </ng-template>
      <p class="audio-description">
        {{ "Record.Provide.Audio.Description" | translate }}
        {{ firstFormGroup.get("firstCtrl")?.value }}.
      </p>
      <div class="recording-container">
        <div class="btn-div">
          <button
            (click)="initiateRecording()"
            [class.btn-initial-state]="
              recordingTimer === null || recordingTimer === undefined
            "
            [class.btn-clicked]="recordingTimer !== null"
          >
            <svg width="24" height="24" viewBox="0 0 24 24">
              <path
                d="M12 15c1.66 0 2.99-1.34 2.99-3L15 6c0-1.66-1.34-3-3-3S9 4.34 9 6v6c0 1.66 1.34 3 3 3zm5.3-3c0 3-2.54 5.1-5.3 5.1S6.7 15 6.7 12H5c0 3.42 2.72 6.23 6 6.72V22h2v-3.28c3.28-.48 6-3.3 6-6.72h-1.7z"
              />
              <path d="M0 0h24v24H0z" fill="none" />
            </svg>
          </button>

          <p class="recording-timer">{{ recordingTimer }}</p>
        </div>

        <ng-template [ngIf]="audioUrl">
          <audio [src]="audioUrl" controls></audio>
        </ng-template>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
